html
    head
        style 
            include style.css
        script(src='/challenge.js')

    body
        div(id="dialog-backdrop")

        if (team == undefined)
            a(id='current-team', href='#')
            dialog(id='team-dialog',open)
               include teamselect.pug
        else
            a(id='current-team', href='#')= team.name
            dialog(id='team-dialog')
                include teamselect.pug
        
        div(id='question-section',class='challenge-description ' + (solved ? 'challenge-solved' : ''))
            h1= challenge.title
            div !{challenge.description}
            div( class='challenge-question') !{question} 


