script(src='/challenge.js')

div Challenge
br
div a = #{a}
div b = #{b}

form(action='#')
    label(for='answer') x = 
    input(type='text',name='answer')
    input(type='submit',id='submit-answer')
