div
    div
        | It is a very common practise to encode binary data into a format where every character is representable. This eases the transfer, storage, and copying of that data, without having to worry about nonrepresentable characters, and whitespace formatting.
        a( href="https://en.wikipedia.org/wiki/Base64") Base 64
        | is one of the most common encoding formats. Another is base 16 (Also known as "Hex"). This challenge will deal with base 8 encoding

    br
    br
    div(style='text-align:center')
        b Given a base 8 encoded string using the alphabet 'a' through 'h'. Padding initial string with zeroes. Decode the string (Exclude padding in answer). 
    br
    div
        div Example:
            div(style='margin:0 auto; width:500px')
                span encodedText = "abdefghabcdefgh"
                br
                div base8Decode(encodedText) =  "Hello!"
br
div When encodedText = "#{encodedText}"
br
form(id='answer-form')
    label(for='answer') base8Decode(encodedText) = 
    input(type='text', id='answer')
    input(type='submit',id='submit-answer',value='Submit') 
