div Find exactly #{totalCount} coins that make up $#{totalDollars/100}

form(id='answer-form')
    label(for='answer') [,] = 
    input(type='text', id='answer')
    input(type='submit',id='submit-answer',value='Submit') 
