div Find exactly N coins that make $X, and give the answer as a comma delineated list of coin values (1,5,10,25). Example:
br
div(style='text-align:center')
    div Find 8 coins that make $0.58
    div Answer:
        b 1,1,1,5,5,10,10,25

div Find exactly #{totalCount} coins that make up $#{totalDollars/100}

form(id='answer-form')
    label(for='answer') [,] = 
    input(type='text', id='answer')
    input(type='submit',id='submit-answer',value='Submit') 
