div Modulo is the operation that finds the remainder of two values after division. Typically represented in code by the oparator '%'
    
    br
    br
    div(style='text-align:center')
        b Given A and B, find the number of values for x where A % x = B
    br
    div
        div Example:
        div(style='margin:0 auto; width:200px')
            div Given A = 8 and b = 2
            br
            div 8 % 3 = 2
            div 8 % 6 = 2
            br
            div Answer: 2
    div Challenge:
    br
    div When A = #{A} and B = #{B}
        br
        form(id='answer-form')
            label(for='answer') count = 
            input(type='text', id='answer')
            input(type='submit',id='submit-answer',value='Submit') 
