div
    | A Hamiltonian Path through a graph is a path that touches each node exactly once. 
    a(href='http://mathworld.wolfram.com/HamiltonianCycle.html') Wiki.
    | It is possible for some graphs to contain no Hamiltonian path, if it is not possible to traverse the graph without visiting the same node twice. 

    br
    br
    div(style='text-align:center')
        b Given an adjacency matrix, find the shortest hamiltonian cycle. The answer should be -1 if the graph does not contain a hamiltonian path. 
    br
    div
        div Example:
        div(style='margin:0 auto; width:100px')
	    
            div Where A = 8 and b = 2
            div 8 % 3 = 2
            div 8 % 6 = 2
            br
            div Answer: 2
div When A = #{A} and B = #{B}
form(id='answer-form')
    label(for='answer') count = 
    input(type='text', id='answer')
    input(type='submit',id='submit-answer',value='Submit') 
