html
    body
        form(action='/team', method='post')
            div Team Name 
                input(type='text',name='teamName')
            div Member Name 
                input(type='text',name='member1')
            div Member Name 
                input(type='text',name='member2')
            div Member Name 
                input(type='text',name='member3')
            div Member Name 
                input(type='text',name='member4')
            div Member Name 
                input(type='text',name='member5')
            input(type='submit',value='Register')
        
