style 
    include dialogstyle.css
div.dialog-header Please Select a Team
div.dialog-body 
    form(id='team-select-form')
        select(id='available-teams')
            each team in teams
                option(value!= team.id)!= team.name
        input(type='submit',value='Select')
